* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#root {
  min-height: 100vh;
}

#root {
  background: lightgray;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  flex: 1;
  max-width: 80rem;
  max-height: 50rem;
  position: relative;
}

h1 {
  position: absolute;
  top: -4rem;
  width: 100%;
  text-align: center;
}

.game-container {
  display: flex;
  align-items: center;
  gap: 5rem;
}

@media (max-width: 1000px) {
  #root {
    padding: 2.5rem;
  }

  .game-container {
    gap: 2.5rem;
  }
}

@media (max-width: 600px) {
  h1 {
    position: static;
    margin-bottom: 2rem;
  }

  .game-container {
    flex-direction: column;
    /* justify-content: ; */
  }
}
