* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#root {
  min-height: 100vh;
}

#root {
  background: lightgray;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  flex: 1;
  max-width: 80rem;
  max-height: 50rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}

@media (max-width: 1000px) {
  #root {
    padding: 2.5rem;
  }

  .app {
    gap: 2.5rem;
  }
}

@media (max-width: 600px) {
  .app {
    flex-direction: column;
    /* justify-content: ; */
  }
}
